<div class="container">
  <title-section>
    <a [routerLink]="['/galeria']" section-title>
      <h3 class="text-xl font-bold mb-0.5 before:content-['#'] hover:underline">
        Galería de imágenes
      </h3>
    </a>
    <p class="text-sm" section-description>Explora imágenes de trabajos recientes, mejoras en la infraestructura y acciones realizadas para mantener el servicio en óptimas condiciones.</p>
  </title-section>

  <div class="grid grid-cols-1 sm:grid-cols-4 sm:grid-rows-2 gap-2 w-full sm:aspect-4/2">
    @for (image of images(); track image.id; let i = $index) {
      <img
        [src]="imageFile(image?.fileName)"
        [class]="getImageClasses(i)"/>
    }
  </div>
</div>
