<section class="about-us"> 

    <div class="bg-blue-600 py-16 px-6 sm:py-24 lg:px-8">
      <div class="max-w-7xl mx-auto"> 
            <div class="text-center mb-16"> 
                <h2 class="text-base font-semibold text-blue-600 tracking-wide uppercase"> ¿Quiénes somos? </h2>
                <p class="mt-4 max-w-2xl text-xl text-gray-500 mx-auto">
                        Somos 
                </p>
            </div>
      </div>
        
       <div class="mb-20 grid grid-cols-1 grap-8 md: grid-cols-3"> 
       
          <h3 class="text-xl front-bold text-gray-900">Misión</h3>

          <div class="rounded-2x1 border border-gray-100 bg-gray-50 p-8 transition-shadow hover: shadow-lg"> 
   
             <p class="mt-2 text-gray-600 italic"> </p>
          </div>

          <h3 class="text-xl front-bold text-gray-900">Visión</h3> 
           
          <div class="rounded-2x1 border border-gray-100 bg-gray-50 p-8 transition-shadow hover: shadow-lg"> 
   
             <p class="mt-2 text-gray-600 italic"> </p>
          </div>

          <h3 class="text-xl front-bold text-gray-900">Historia</h3> 
           
          <div class="rounded-2x1 border border-gray-100 bg-gray-50 p-8 transition-shadow hover: shadow-lg"> 
   
             <p class="mt-2 text-gray-600 italic"> </p>
          </div>

          <h3 class="text-xl front-bold text-gray-900">Funciones</h3> 
           
          <div class="rounded-2x1 border border-gray-100 bg-gray-50 p-8 transition-shadow hover: shadow-lg"> 
   
             <p class="mt-2 text-gray-600 italic"> </p>
          </div>

       </div>
    </div>
</section>
