
 <div class="max-w-5xl mx-auto">
    <div class="py-16 px-6 sm:py-24 lg:px-8">
      @if(aboutUsData()) 
      {
        @for(aboutUs of aboutUsData(); track aboutUs.id) 
        {

            <!-- Contenedor Principal de la Línea -->
                  <div class="relative container">
                    
                    <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border left-4 md:left-1/2 transform md:-translate-x-1/2 "></div>
                    
                    <div class=" absolute flex items-center order-1 bg-blue-600 shadow-xl w-10 h-10 rounded-full left-0 md:relative md:left-auto"></div>
                    
                    <div class="order-1 bg-blue-50 rounded-lg shadow-md w-[calc(100%-3rem)] ml-12 md:ml-0 md:w-5/12 p-5">
                    
                      <h3 class="text-lg font-semibold">{{ aboutUs.sectionType }}</h3>
                    <p class="text-gray-700">{{ aboutUs.content }}</p>
                    </div>
                  </div>
        }
      }
    </div> 
  </div> 
