export const environment = {
  RECAPTCHA_REQUEST: 'your-recaptcha-public-key',

  API_URL_BASE: 'http://localhost:5199/api',

  API_URL_CONTENT: 'http://localhost:5199',
  API_URL_ADMIN: 'http://localhost:5199/api/admin',
  API_URL_ACCOUNT: 'http://localhost:5199/api/auth',
  API_URL_CLIENT: 'http://localhost:5199/api/cliente',
};
