<div class="overflow-x-auto w-full">
  <table class="table">
    <!-- head -->
    <thead>
      <tr class="flex">
        <th>Tipo</th>
        <th class="flex-1">Documento</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
      @for (document of documentsData(); track document.id) {
        <documents-admin-card [document]="document" (deleteRequest)="openDeleteModal($event)" [statuses]="statuses()"/>
      }
    </tbody>
  </table>
</div>

<dialog #deleteDocumentModal class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¡Hola!</h3>
    <p class="py-4">¿Estás seguro/a que quieres eliminar este documento?</p>
    <div class="modal-action">
      <div>
        <button (click)="closeDeleteModal()" class="btn btn-primary text-base-100">Cancelar</button>
        <button (click)="confirmDelete()" class="ml-2 btn btn-error text-base-100">Eliminar</button>
      </div>
    </div>
  </div>
</dialog>
