<div class="flex flex-col justify-between gap-1 sm:flex-row sm:items-center">
  <h3 class="inline-block mb-2 text-lg">- Información institucional</h3>
  <button (click)="openCreateEditModal()" class="btn btn-primary text-base-100">Crear sección</button>
</div>

<section class="w-full flex flex-wrap items-center gap-2">
  @for (aboutUs of aboutUs(); track aboutUs.id) {
    <details class="collapse collapse-arrow bg-base-100 border border-base-300 w-full sm:w-[48%]" name="my-accordion-det-2">
      <summary class="collapse-title font-semibold">{{ aboutUs.sectionType }}</summary>
      <div class="collapse-content text-sm" [innerHTML]="aboutUs.content | breakLine"></div>
      <div class="flex px-5 py-2 w-full justify-end">
        <button (click)="openDeleteModal(aboutUs.id)" class="cursor-pointer">
          <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/trash-icon.svg"></use></svg>
        </button>
        <button (click)="openCreateEditModal(aboutUs)" class="cursor-pointer">
          <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/pencil-icon.svg"></use></svg>
        </button>
      </div>
    </details>
}
</section>

<dialog #deleteAboutUsModal class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¡Hola!</h3>
    <p class="py-4">¿Estás seguro/a que quieres eliminar ésta información institucional?</p>
    <div class="modal-action">
      <form>
        <button (click)="closeDeleteModal()" class="btn btn-primary text-base-100">Cancelar</button>
        <button (click)="confirmDelete()" class="ml-2 btn btn-error text-base-100">Eliminar</button>
      </form>
    </div>
  </div>
</dialog>

<dialog #createEditAboutUsModal class="modal modal-bottom sm:modal-middle">
  <div class="modal-box w-full">
    <div class="flex w-full justify-between gap-1">
      <h3 class="text-lg font-bold">{{ selectedAboutUs() ? 'Actualizar' : 'Crear' }} información</h3>
      <button type="button" (click)="closeCreateEditModal()" class="text-neutral cursor-pointer btn btn-circle btn-ghost">✕</button>
    </div>
    <div class="modal-action mt-0 w-full justify-center">
      <form [formGroup]="aboutUsForm" (ngSubmit)="onAboutUsForm()">
        <div class="w-full flex flex-col items-center justify-baseline">
          <fieldset class="fieldset">
            <legend class="fieldset-legend">* Tipo</legend>
            <input formControlName="sectionType" placeholder="Misión" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
            @if (!!aboutUsForm.controls['sectionType'].errors && aboutUsForm.controls['sectionType'].touched) {
              <span class="text-error text-[.75rem] font-light">{{ getErrors(aboutUsForm.controls['sectionType'].errors) }}</span>
            }
          </fieldset>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">* Contenido</legend>
            <input formControlName="content" placeholder="La ASADA Urbanización Lisboa surge como una iniciativa comunal..." class="input w-full placeholder:text-neutral placeholder:text-xs"/>
            @if (!!aboutUsForm.controls['content'].errors && aboutUsForm.controls['content'].touched) {
              <span class="text-error text-[.75rem] font-light">{{ getErrors(aboutUsForm.controls['content'].errors) }}</span>
            }
          </fieldset>

          <fieldset class="fieldset">
            <legend class="fieldset-legend">* Orden</legend>
            <input formControlName="order" placeholder="8" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
            @if (!!aboutUsForm.controls['order'].errors && aboutUsForm.controls['order'].touched) {
              <span class="text-error text-[.75rem] font-light">{{ getErrors(aboutUsForm.controls['order'].errors) }}</span>
            }
          </fieldset>
        </div>

          <button type="submit" [disabled]="isLoading()" class="mt-1.5 btn btn-primary w-fit text-base-100 text-sm font-medium">
          @if(isLoading()) {
            <span class="loading loading-spinner"></span>
          } {{ selectedAboutUs() ? 'Actualizar' : 'Crear' }}
        </button>
      </form>
    </div>
  </div>
</dialog>
