<div class="overflow-x-auto w-full">
  <table class="table">
    <!-- head -->
    <thead>
      <tr class="flex">
        <th>Tipo</th>
        <th class="flex-1">Documento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
      @for (document of documents(); track document.id) {
        <tr class="flex justify-center items-center">
          <td>
            <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/document-icon.svg"></use></svg>
          </td>
          <td class="flex-1 w-full h-17.5 max-h-17.5">
            <h3 class="text-md font-semibold line-clamp-1 text-ellipsis">{{ document.title | titlecase }}</h3>
            <p class="text-sm font-light line-clamp-1 text-ellipsis">{{ document.description }}</p>
          </td>
          <td>
            <a [href]="generateUrl(document.filePath)" target="_blank" rel="noopener noreferrer" class="btn btn-primary text-base-100 flex gap-1">
              <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/download-icon.svg"></use></svg>
              <span class="hidden sm:inline">Descargar</span>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
