<div class="overflow-x-auto w-full">
  <table class="table">
    <!-- head -->
    <thead>
      <tr class="flex">
        <th>Tipo</th>
        <th class="flex-1">Documento</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
      @for (document of documents(); track document.id) {
        <tr class="flex justify-center items-center w-full h-24 max-h-24">
          <td class="h-full flex items-center">
            <svg class="w-7 h-7"><use class="w-full h-full" [attr.href]="iconType(document.fileName)"></use></svg>
          </td>
          <td class="flex-1 w-full h-full flex flex-col gap-2">
            <div>
              <h3 class="text-md font-semibold line-clamp-1 text-ellipsis">{{ document.title | titlecase }}</h3>
              <p class="text-sm font-light line-clamp-1 text-ellipsis">{{ document.description }}</p>
            </div>
            <div class="flex gap-1.5">
              @for (category of document.categories; track $index) {
                <span (click)="searchCategory(category)" class="badge badge-soft badge-secondary cursor-pointer min-w-fit select-none">{{ category | lowercase }}</span>
              }
            </div>
          </td>
          <td class="h-full flex items-center">
            <a [href]="generateUrl(document.filePath)" target="_blank" rel="noopener noreferrer" class="btn btn-primary text-base-100 flex gap-1">
              <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/download-icon.svg"></use></svg>
              <span class="hidden sm:inline">Descargar</span>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
