<div class="min-h-screen p-6 flex flex-col items-center justify-center gap-12"> 

  <div class="text-center space-y-2">
    <div>
      <h1 class="text-3xl font-bold">{{ title | uppercase }}</h1>
      <h2 class="text-3xl font-medium">{{ subtitle | titlecase }}</h2>
    </div>
  </div> 

     <main class="grid grid-cols-1 lg:grid-cols-1 gap-8 w-full max-w-6xl">
     
        <section class="w-full max-w-7xl">
            <title-section>
            <a [routerLink]="['/admin/noticias']" section-title> 
                <h2 class="text-2xl font-bold mb-6 px-2 flex items-center gap-2 before:content-['#'] hover:underline">Noticias Recientes</h2>
            </a>
            </title-section>
            
            <!-- Contenedor con Scroll Lateral  -->
            <div class="flex flex-row gap-6 overflow-x-auto pb-6 scrollbar-hide snap-x">
            @for (item of newsD().slice(0, 6); track item.id) {
                <div class="card bg-base-100 w-80 shrink-0 shadow-md border border-base-300 snap-center hover:shadow-xl transition-shadow">
                <figure class="h-50 max-h-50 overflow-hidden">
                    <img
                    [src]="generateContent.url(item.imageUrl)"
                    [alt]="item.title"
                    class="w-full h-full object-cover"/>
                </figure>
                <div class="card-body p-5">                      
                    <h3 class="card-title text-lg leading-tight">{{item.title}}</h3>
                    <p class="text-sm opacity-70 mt-2 line-clamp-3">{{item.description}}</p>                  
                </div>
                <div class="flex h-full justify-center items-center gap-1">
                    <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/calendar-icon.svg"></use></svg>
                    <span>{{ item.lastEditionDate | date:'dd/MM/yyyy' }}</span>
                </div>
                </div>
            }
            </div>
        </section> 

    <section  class= "w-full max-w-7xl">  
        <title-section>
          <a [routerLink]="['/admin/documentos']" section-title> 
          <h2 class="text-2xl font-bold mb-6 px-2 flex items-center gap-2 before:content-['#'] hover:underline">Últimos Documentos</h2>  
          </a>
        </title-section>
        
        <div class="flex flex-row gap-6 overflow-x-auto pb-6 scrollbar-hide snap-x">
           <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
             @for (document of documentsD().slice(0, 6); track document.id; let i = $index) {
              <div class="card bg-base-100 w-80 shrink-0 shadow-md border border-base-300 snap-center hover:shadow-xl transition-shadow">                
                <div class="flex gap-3">
                  <div class="flex justify-center items-center">
                    <svg class="w-7 h-7"><use class="w-full h-full" [attr.href]="iconType(document.filePath)"></use></svg>
                  </div>
                  
                    <div class="card-body p-5">
                      <h4 class="card-title text-lg leading-tight">{{ document.title }}</h4>
                      <p class="text-sm opacity-70 mt-2 line-clamp-3">{{ document.description }}</p>
                    </div>                
                  </div>
              </div>   
              }
            </div>
        </div>
     </section>

      <section  class= "w-full max-w-7xl">  
        <title-section>
          <a [routerLink]="['/admin/imagenes']" section-title>
           <h2 class="text-2xl font-bold mb-6 px-2 flex items-center gap-2 before:content-['#'] hover:underline">Últimas Imágenes</h2> 
          </a>
        </title-section>

         <div class="grid grid-cols-1 sm:grid-cols-4 sm:grid-rows-2 gap-2 w-full sm:aspect-4/2">
            @for (image of imagesD(); track image.id; let i = $index) {
              <img
                [src]="generateContent.url(image?.url)"
                [class]="getImageClasses(i)"/>
            }
          </div>
      </section>
    </main>
</div>