<form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPasswordForm()" class="flex flex-col gap-3 w-[18rem] px-2 py-1 text-neutral">
  <div class="flex justify-center">
    <svg class="w-22 h-22"><use class="w-full h-full" href="logo/asada-logo.svg"></use></svg>
  </div>

  <fieldset class="fieldset">
    <legend class="fieldset-legend font-normal text-sm">* Correo electrónico</legend>
    <input formControlName="email" placeholder="ejemplo@correo.com" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
    @if (!!forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].touched) {
      <span class="text-error text-[.75rem] font-light">{{ getErrors(forgotPasswordForm.controls['email'].errors) }}</span>
    }
  </fieldset>

  <button type="submit" [disabled]="isLoading()" class="mt-1.5 btn btn-primary w-fit text-base-100 text-sm font-medium">
    @if(isLoading()) {
      <span class="loading loading-spinner"></span>
    } Enviar email
  </button>
</form>
