<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 w-full">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track user.id) {
        <tr>
          <td>{{ user.name | titlecase }}</td>
          <td>{{ user.charge | titlecase }}</td>
        </tr>
      }
      <!-- TODO: Remove users after creation (backend) -->
      <tr>
        <td>Jeimmy Jiménez Núñez</td>
        <td>Presidente</td>
      </tr>
      <tr>
        <td>Guiselle Sandoval Godínez</td>
        <td>Vice Presidente</td>
      </tr>
      <tr>
        <td>Vianey Molina González</td>
        <td>Tesorero</td>
      </tr>
      <tr>
        <td>Ana Julia Obando Matarrita</td>
        <td>Secretaria</td>
      </tr>
      <tr>
        <td>Wilberth Araya Guzmán</td>
        <td>Vocal 1</td>
      </tr>
      <tr>
        <td>Edgar Valverde Sáurez</td>
        <td>Fiscal</td>
      </tr>
    </tbody>
  </table>
</div>
