<div class="container">
  <title-section [link]="'/documentos'">
    <h3 class="text-xl font-bold mb-0.5" section-title>Documentos importantes</h3>
    <p class="text-sm" section-description>Encuentra formularios, reportes de pago y documentos necesarios para trámites y consultas relacionadas con la ASADA.</p>
  </title-section>

  <div class="grid grid-cols-1 grid-rows-auto gap-3 sm:grid-cols-2">
    @for (document of documents(); track document.id; let i = $index) {
      <documents-card [document]="document"/>
    }
  </div>
</div>
