#newContent {
  color: #262626;
  line-height: 1.7;
}

#newContent > * + * {
  margin-top: 1rem;
}

#newContent > h2 {
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.5rem;
}

#newContent > h3 {
  font-size: 1.3rem;
}

#newContent > h4 {
  font-size: 1.1rem;
}

#newContent > h3,
#newContent > h4,
#newContent > h5,
#newContent > h6 {
  font-weight: 500;
}

#newContent > p {
  font-size: 1rem;
}

#newContent > span {
  color: #737373;
  font-weight: 300;
  font-size: 0.85rem;
}

#newContent > ul {
  list-style: disc;
  padding-left: 1.5rem;
}

#newContent > ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

#newContent > img {
  width: 100%;
  display: block;
  cursor: zoom-in;
  object-fit: cover;
  max-height: 400px;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  transition: transform 0.2s ease;
}

#newContent > img:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

@media (min-width: 640px) {
  #newContent > img {
    width: 60%;
  }
}
