@for (image of imagesData(); track image.id) {
  <images-admin-card [image]="image" (deleteRequest)="openDeleteModal($event)" [statuses]="statuses()"/>
}

<dialog #deleteImageModal class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¡Hola!</h3>
    <p class="py-4">¿Estás seguro/a que quieres eliminar ésta imagen?</p>
    <div class="modal-action">
      <div>
        <button type="button" (click)="closeDeleteModal()" class="btn btn-primary text-base-100">Cancelar</button>
        <button type="button" (click)="confirmDelete()" class="ml-2 btn btn-error text-base-100">Eliminar</button>
      </div>
    </div>
  </div>
</dialog>
