 <div class="relative w-full">
<div class="navbar container">
  <div class="navbar-start">
    <a href="" class="cursor-pointer">
        <svg class="w-22 h-22"><use class="w-full h-full" href="logo/asada-logo.svg"></use></svg>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for(navigation of navigationLinks; track $index) {
        <li>
          @if (navigation?.internalLinks) {
            <details>
              <summary>{{ navigation.title | titlecase }}</summary>
              <ul class="p-2 min-w-max bg-base-100 w-fit mt-2 z-1">
                @for (internal of navigation?.internalLinks; track $index) {
                  <li>
                    <a [routerLink]="[internal.link]"
                      [routerLinkActive]="'underline'"
                      class="hover:underline">{{ internal.title | titlecase }}</a>
                  </li>
                }
              </ul>
            </details>
          } @else {
            <a [routerLink]="[navigation.link]"
              [routerLinkActive]="'underline'"
              class="hover:underline">{{ navigation.title | titlecase }}</a>
          }
        </li>
      }
    </ul>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle" (click)="toggleSearch()">
        <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/search-icon.svg"></use></svg>
    </button>
    <div class="dropdown lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/menu-icon.svg"></use></svg>
      </div>
      <ul
        tabindex="-1"
        class="menu items-center menu-sm dropdown-content bg-neutral-content rounded-box rounded-t-none z-1 mt-8 w-screen fixed left-0 p-2 shadow">
        <div class="container lg:hidden">
          @for(navigation of navigationLinks; track $index) {
            <li>
              @if (navigation?.internalLinks) {
                <details>
                  <summary class="text-sm">{{ navigation.title | titlecase }}</summary>
                  <ul class="p-2 min-w-max bg-nuetral-content w-fit mt-2 z-1">
                    @for (internal of navigation?.internalLinks; track $index) {
                      <li>
                        <a class="text-sm" [routerLink]="[internal.link]"
                        [routerLinkActive]="'underline'">{{ internal.title | titlecase }}</a>
                      </li>
                    }
                  </ul>
                </details>
              } @else {
                <a class="text-sm" [routerLink]="[navigation.link]"
                [routerLinkActive]="'underline'">{{ navigation.title | titlecase }}</a>
              }
            </li>
          }
        </div>
      </ul>
    </div>
  </div>

     <!-- Barra de Búsqueda Desplegable -->
   @if (showSearch()) {
    <div class="absolute top-full left-0 w-full bg-base-100 shadow-xl border-t border-base-200 z-10 transition-all">
      <div class="container mx-auto p-4">
         <div class="join w-full">

             <input [ngModel]="search.query()"
                    (ngModelChange)="search.updateQuery($event)" 
                    type="text" placeholder="Buscar contenido" class="input input-lg input-bordered w-full" autofocus />
              <!-- Button-->
              <a (click)= "search.buscarManual()" [routerLink]="cta.link" class="btn btn-primary text-base-100">{{ cta.title | titlecase }}</a>
           </div> 

      </div>
    </div>
  }
</div>
</div>