<div class="navbar container">
  <div class="navbar-start">
    <a href="" class="cursor-pointer">
        <svg class="w-24 h-24"><use class="w-full h-full object-cover" href="logo/asada-logo.svg"></use></svg>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for(navigation of navigationLinks; track $index) {
        <li>
          @if (navigation?.internalLinks) {
            <details>
              <summary>{{ navigation.title | titlecase }}</summary>
              <ul class="p-2 min-w-max bg-base-100 w-fit mt-2 z-1">
                @for (inti of navigation?.internalLinks; track $index) {
                  <li>
                    <a [routerLink]="[inti.link]">{{ inti.title | titlecase }}</a>
                  </li>
                }
              </ul>
            </details>
          } @else {
            <a [routerLink]="[navigation.link]">{{ navigation.title | titlecase }}</a>
          }
        </li>
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-ghost">
        <svg class="w-6 h-6"><use class="w-full h-full object-cover" href="assets/icons/search-icon.svg"></use></svg>
    </a>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <img src="assets/icons/menu-icon.svg" alt="Burger menu icon">
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-neutral-content rounded-box rounded-t-none z-1 mt-7 w-screen p-2 pt-0 shadow fixed left-0 flex gap-1 lg:hidden">
        @for(navigation of navigationLinks; track $index) {
          <li>
            @if (navigation?.internalLinks) {
              <a>{{ navigation.title | titlecase }}</a>
              <ul class="p-2">
                @for (inti of navigation?.internalLinks; track $index) {
                  <li>
                    <a [routerLink]="[inti.link]">{{ inti.title | titlecase }}</a>
                  </li>
                }
              </ul>
            } @else {
              <a [routerLink]="[navigation.link]">{{ navigation.title | titlecase }}</a>
            }
          </li>
        }
      </ul>
    </div>
  </div>
</div>
