<div class="flex gap-3 items-center">
  <div class="input">
    <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/search-icon.svg"></use></svg>
    <input type="search" class="grow" placeholder="Search" />
  </div>

  <div>
    <ul class="menu menu-horizontal px-1">
      <li class="bg-base-300 rounded-sm">
        <details>
          <summary>Por</summary>
          <ul class="bg-base-100 rounded-t-none m-0 z-1 min-w-full right-0">
            <li><a>Nombre</a></li>
            <li><a>Fecha</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<div class="flex gap-3 items-center">
  <div>
    <ul class="menu menu-horizontal px-1">
      <li class="bg-base-300 rounded-sm">
        <details>
          <summary>Ordernar</summary>
          <ul class="bg-base-100 rounded-t-none m-0 z-1 min-w-full">
            <li><a>Nombre</a></li>
            <li><a>Fecha</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <div>
    <ul class="menu menu-horizontal px-1">
      <li class="bg-base-300 rounded-sm">
        <details>
          <summary>
            <svg class="w-6 h-6"><use class="w-full h-full" href="assets/icons/down-icon.svg"></use></svg>
          </summary>
          <ul class="bg-base-100 rounded-t-none m-0 z-1 min-w-full">
            <li><a>Nombre</a></li>
            <li><a>Fecha</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
