@import "tailwindcss";
@plugin "daisyui" {
  themes: "nord" --default;
}

@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  --color-primary: '#0A98E6';
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Hepta Slab";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/hepta_slab/HeptaSlab-VariableFont_wght.ttf");
}

@theme {
  --text-md: 1rem;
  --font-poppins: "Poppins", "sans-serif";
  --font-hepta-slab: "Hepta Slab", "sans-serif";
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-thin {
  @apply
    [scrollbar-width:thin]
    [scrollbar-color:rgba(100,100,100,0.4)_transparent]
    [&::-webkit-scrollbar]:h-1.5
    [&::-webkit-scrollbar-track]:bg-white
    [&::-webkit-scrollbar-thumb]:bg-white
    [&::-webkit-scrollbar-thumb]:rounded-full;
}

:root {
  color-scheme: light;
}

* {
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-hepta-slab);
}
