@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default;
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../public/assets/fonts/poppins/Poppins-Regular.ttf");
}

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --text-md: 1rem;
}

* {
  font-family: var(--font-poppins);
}
