<div class="w-full flex flex-col items-between justify-start sm:flex-row">
  <div class="w-full sm:w-[60%] mb-5 text-start">
    <get-back-title title="Configuraciones" isAdmin>
      <div section-description>Desde aquí puedes editar la información general de la ASADA y mantener actualizados los datos de contacto.</div>
    </get-back-title>
  </div>
</div>
<div class="w-full flex flex-col gap-5 p-5">
  <div class="flex flex-col items-center">
    <div class="w-full flex flex-col gap-5">
      @if (contacts()) {
        <section>
          <h3 class="inline-block mb-2 text-lg">- Datos de contacto</h3>
          <admin-contacts-list [contactsInput]="contacts()"/>
        </section>
      }
      @if (aboutUs()) {
        <section>
          <h3 class="inline-block mb-2 text-lg">- Información institucional</h3>
          <admin-about-us-list [aboutUsInput]="aboutUs()"/>
        </section>
      }
    </div>
  </div>
</div>
