<form [formGroup]="resetPasswordForm" (ngSubmit)="onForgotPasswordForm()" class="flex flex-col gap-3 w-[18rem] px-2 py-1 text-neutral">
  <div class="flex justify-center">
    <svg class="w-22 h-22"><use class="w-full h-full" href="logo/asada-logo.svg"></use></svg>
  </div>

  <fieldset class="fieldset">
    <legend class="fieldset-legend font-normal text-sm">* Contraseña</legend>
    <input type="password" formControlName="password" placeholder="********" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
    @if (!!resetPasswordForm.controls['password'].errors && resetPasswordForm.controls['password'].touched) {
      <span class="text-error text-[.75rem] font-light">{{ getErrors(resetPasswordForm.controls['password'].errors) }}</span>
    }
  </fieldset>

    <fieldset class="fieldset">
    <legend class="fieldset-legend font-normal text-sm">* Contraseña</legend>
    <input type="password" formControlName="confirmPassword" placeholder="********" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
    @if (!!resetPasswordForm.controls['confirmPassword'].errors && resetPasswordForm.controls['confirmPassword'].touched) {
      <span class="text-error text-[.75rem] font-light">{{ getErrors(resetPasswordForm.controls['confirmPassword'].errors) }}</span>
    }
  </fieldset>

  <button type="submit" [disabled]="isLoading()" class="mt-1.5 btn btn-secondary w-fit text-base-100 text-sm font-medium">
    @if(isLoading()) {
      <span class="loading loading-spinner"></span>
    } Cambiar contraseña
  </button>
</form>
