<div class="container">
  <section class="flex flex-col items-center text-center">

    <!-- Content -->
    <div class="max-w-4xl flex flex-col items-center px-4">
      <div class="space-y-2">
        <h1 class="text-5xl lg:text-7xl font-bold tracking-tight">
          {{ title | uppercase }}
        </h1>

        <h2 class="text-2xl lg:text-4xl font-medium text-base-content/80">
          {{ subtitle | titlecase }}
        </h2>
      </div>

      <p
        class="py-6 max-w-2xl text-base lg:text-lg text-base-content/70"
        [innerHTML]="description">
      </p>

      <a
        [routerLink]="cta.link"
        class="btn btn-primary text-base-100 px-8">
        {{ cta.title | titlecase }}
      </a>
    </div>

    <!-- Image -->
    <div class="w-full mt-10 lg:mt-14">
      <img
        src="/placeholders/asada-hero-section.png"
        alt="ASADA Hero Image"
        class="w-full max-h-137.5 object-cover rounded-t-sm shadow-md" />
    </div>
  </section>
</div>
