<form [formGroup]="newsForm" (ngSubmit)="onNewForm()" class="w-full">
  <section class="w-full flex flex-col gap-3 justify-center items-center sm:flex-row">
    <!-- Image -->
    <div class="w-full sm:w-1/2">
      <fieldset class="fieldset">
        <legend class="fieldset-legend font-normal text-sm">* Imagen de la noticia</legend>
        <input
          #fileInput
          type="file"
          accept="image/jpg, image/jpeg, image/png, image/webp, image/jfif"
          class="hidden"
          (change)="onFileSelected($event)"/>
      </fieldset>

      <div
        class="w-full aspect-4/3 border border-gray-300 rounded-sm flex items-center justify-center cursor-pointer overflow-hidden"
        (click)="triggerFileInput(fileInput)">
        @if (imagePreview()) {
          <img
            [src]="imagePreview()"
            class="w-full h-full object-cover"/>
        } @else {
          <span class="text-gray-400 text-sm text-center px-2">Seleccionar imagen</span>
        }
      </div>

      @if (!!newsForm.controls['file'].errors && newsForm.controls['file'].touched) {
        <span class="text-error text-[.75rem] font-light">{{ getErrors(newsForm.controls['file'].errors) }}</span>
      }

      @if(defaultImage != imagePreview()) {
        <button type="button" (click)="removeImage(fileInput)" class="btn btn-outline btn-error mt-3 hover:text-base-100">
          Quitar imagen
        </button>
      }
    </div>

    <div class="w-full gap-3 sm:w-1/2">
      <!-- Title -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend font-normal text-sm">* Título</legend>
        <input formControlName="title" placeholder="Pequeñas acciones para ahorrar agua" class="input w-full placeholder:text-neutral placeholder:text-xs"/>
        @if (!!newsForm.controls['title'].errors && newsForm.controls['title'].touched) {
          <span class="text-error text-[.75rem] font-light">{{ getErrors(newsForm.controls['title'].errors) }}</span>
        }
      </fieldset>

      <!-- Categories -->
      <fieldset class="fieldset">
        <legend class="fieldset-legend font-normal text-sm">* Categoría/s</legend>
        <badges-input formControlName="categories"></badges-input>
        @if (!!newsForm.controls['categories'].errors && newsForm.controls['categories'].touched) {
          <span class="text-error text-[.75rem] font-light">{{ getErrors(newsForm.controls['categories'].errors) }}</span>
        }
      </fieldset>
    </div>
  </section>

  <!-- Enriched text -->
  <section>
    <fieldset class="fieldset">
      <legend class="fieldset-legend font-normal text-sm">* Contenido de la noticia</legend>
      <angular-editor formControlName="description" [config]="config"></angular-editor>
      @if (!!newsForm.controls['description'].errors && newsForm.controls['description'].touched) {
        <span class="text-error text-[.75rem] font-light">{{ getErrors(newsForm.controls['description'].errors) }}</span>
      }
    </fieldset>
  </section>

  <!-- Statuses -->
  <section class="mb-5">
    <legend class="fieldset-legend font-normal text-sm">* Estado de la noticia</legend>
    <div class="flex items-center gap-5">
      @for(status of statuses(); track status.id) {
        <div class="flex items-center gap-1">
          <input type="radio"
          [value]="status.id"
          formControlName="statusId"
          class="radio radio-xs radio-secondary"
          [id]="`radio${status.name}`"/>
          <label [for]="`radio${status.name}`" class="text-[0.8rem]">{{ status.name | titlecase }}</label>
        </div>
      }
    </div>
    @if (!!newsForm.controls['statusId'].errors && newsForm.controls['statusId'].touched) {
      <span class="text-error text-[.75rem] font-light">{{ getErrors(newsForm.controls['statusId'].errors) }}</span>
    }
  </section>

  <!-- Submit button -->
  <button type="submit" [disabled]="isLoading()" class="mt-1.5 btn btn-primary w-fit text-base-100 text-sm font-medium">
    @if(isLoading()) {
      <span class="loading loading-spinner"></span>
    } {{ true ? 'Actualizar' : 'Crear' }}
  </button>
</form>
